@model IEnumerable<ConstructionSpending.Models.Spending>

@{
    ViewData["Title"] = "CleanVIP";
}

<h1>CleanVIP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonallyAdjusted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonallyAdjusted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpendingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpendingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpendingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
