@{
    ViewData["Title"] = "Reports";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/reports.css">
</head>
<div style="padding-top: 50px;text-align: center;
    background-color: black;
    color:white;
    border-radius: 1px;">
    <h1>Construction Spending</h1>
</div>
<img>
<div class="main">
    <hr>
    <img>
    <div class="content">


        Residential Construction spending by year(Millions of dollars)
        <!-- <select name="choice">
    <option value="first">2012</option>
    <option value="second">2013</option>
    <option value="third">2014</option>
    <option value="fourth">2015</option>
    <option value="fifth">2016</option>
    <option value="sixth">2017</option>
    <option value="seventh">2018</option>
    <option value="eigth">2019</option>
    <option value="ninth">2020</option>
    </select> -->
        <form asp-controller="Home" asp-action="Reports" method="get">
            <p>

                @Html.TextBox("year1")<input type="submit" value="Search" />
                @Html.TextBox("year2")<input type="submit" value="Search" />

                <input type="submit" value="Filter" />
            </p>
        </form>
        <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Year
                    </td>
                    <td>
                        @item.Quarter
                    </td>
                    <td>
                        @item.Month
                    </td>
                    
                </tr>
            }
        </tbody>
        </table>
    </div>
</div>
