@model dynamic
@{
    ViewData["Title"] = "Reports";
}
<head>
    <!--<link rel="stylesheet" type="text/css" href="~/css/reports.css">-->
</head>
<!--<div style="padding-top: 50px;text-align: center;
    background-color: black;
    color:white;
    border-radius: 1px;">
    <h1>Construction Spending</h1>
</div>
<img>-->
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">What the fuck do I put here?</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-controller="Home" asp-action="Reports" method="get" class="form-inline" role="form">
                <div class="form-group">
                    <select class="form-control" name="year">
                        <option>Year</option>
                        @foreach (var year in Model.Year)
                        {
                            <option value=@year>@year</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
        <div class="col">
            @if (Model.report.spendingQ != null)
            {
                <form asp-controller="Home" asp-action="SaveThis" method="get" class="form-inline" role="form">
                    <div class="form-group">
                        <select class="form-control" name="year">
                            <option>@Model.report.year</option>
                        </select>
                    </div>
                    <button type="submit" class="btn"><img src="https://img.icons8.com/metro/26/000000/save.png" /></button>
                </form>
            }
        </div>
    </div>
</div>
    <hr>

    @if (Model.report.spendingQ != null)
    {

        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Quarter</th>
                        <th scope="col">Spending(in millions of dollars)</th>
                        <th scope="col">Vacancy(in 1000's of units)</th>
                        <th scope="col">Occupancy(in 1000's of units)</th>
                        <th scope="col">Total Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Q1</th>
                        <td>$@Model.report.spendingQ.Q1</td>
                        <td>@Model.report.vaccancyQ.Q1</td>
                        <td>@Model.report.occupancyQ.Q1</td>
                        <td>@Model.report.totalUnitsQ.Q1</td>
                    </tr>
                    <tr>
                        <th scope="row">Q2</th>
                        <td>$@Model.report.spendingQ.Q2</td>
                        <td>@Model.report.vaccancyQ.Q2</td>
                        <td>@Model.report.occupancyQ.Q2</td>
                        <td>@Model.report.totalUnitsQ.Q2</td>
                    </tr>
                    <tr>
                        <th scope="row">Q3</th>
                        <td>$@Model.report.spendingQ.Q3</td>
                        <td>@Model.report.vaccancyQ.Q3</td>
                        <td>@Model.report.occupancyQ.Q3</td>
                        <td>@Model.report.totalUnitsQ.Q3</td>
                    </tr>
                    <tr>
                        <th scope="row">Q4</th>
                        <td>$@Model.report.spendingQ.Q4</td>
                        <td>@Model.report.vaccancyQ.Q4</td>
                        <td>@Model.report.occupancyQ.Q4</td>
                        <td>@Model.report.totalUnitsQ.Q4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
