
@{
    ViewData["Title"] = "SaveVIPData";
}

<h1>SaveVIPData</h1>
<table>
    <thead>
        <tr>
            <th>
                Response ID
            </th>
            <th>
                Data Type Code
            </th>
            <th>
                Value
            </th>
            <th>
                Program Code
            </th>
            <th>
                Time Slot Date
            </th>
            <th>
                Seasonally Adjusted
            </th>
            <th>
                Time Slot ID
            </th>
            <th>
                Time Slot Name
            </th>
            <th>
                Category Code
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ResponseVipId
                </td>
                <td>
                    @item.data_type_code
                </td>
                <td>
                    @item.cell_value
                </td>
                <td>
                    @item.program_code
                </td>
                <td>
                    @item.time_slot_date
                </td>
                <td>
                    @item.seasonally_adj
                </td>
                <td>
                    @item.time_slot_id
                </td>
                <td>
                    @item.time_slot_name
                </td>
                <td>
                    @item.category_code
                </td>
                <td>
                    @item.time
                </td>
            </tr>
        }
    </tbody>
</table>

